body {
  margin: 0;
  padding: 0; }

.mobileNav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .mobileNav span,
  .mobileNav span:before,
  .mobileNav span:after {
    content: "";
    display: block;
    background-color: black;
    height: 3px;
    width: 30px;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .mobileNav span:before {
    top: 10px; }
  .mobileNav span:after {
    top: -13px; }
  .mobileNav:isOpen span {
    background: transparent; }
  .mobileNav:isOpen span:before,
  .mobileNav:isOpen span:after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0; }
  .mobileNav:isOpen span:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: -3px; }
  .mobileNav ul {
    margin: 0;
    padding: 0; }
    .mobileNav ul li {
      list-style: none; }
      .mobileNav ul li a {
        text-decoration: none;
        color: black;
        display: block; }

@media (min-width: 775px) {
  .mobileNav {
    display: none; } }

#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 50px;
  background: #eeeeee; }
  #home span {
    display: block;
    background: pink;
    height: 500px;
    width: 500px; }

#portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 50px;
  background: #eeeeee; }
  #portfolio span {
    display: block;
    background: pink;
    height: 500px;
    width: 500px; }

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 50px;
  background: #eeeeee; }
  #about span {
    display: block;
    background: pink;
    height: 500px;
    width: 500px; }

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 50px;
  background: #eeeeee; }
  #contact span {
    display: block;
    background: pink;
    height: 500px;
    width: 500px; }
