#aboutMe
	height: 100vh
	background-color: #262626

	.aboutBackground
		font-family: $headerFont
		font-size: 100px
		filter: opacity(.05)
		transform: translateX(10%)

		h2
			padding: 20% 0 0 0
			margin: 0
			float: right
