html.atreoPage
	background: #f1f1f1

body.atreoPage
	background: #f1f1f1

footer.atreoPage
	background: #262626

#contactLink.atreoPage
	background: #262626
	margin-top: 0
	padding-top: 50px

#atreoHero
	background: #f1f1f1
	padding: 80px 10px 10px 10px
	color: #262626
	// display: flex
	// justify-content: center
	// align-items: center
	// flex-direction: column
	// text-align: center

	h1
		font-family: $headerFont
		font-size:
		margin: 0
		// padding-top: 80px
		font-size: 36px

	.heroDivider
		background: rgba(66, 134, 244, 1)
		height: 2px
		width: 100px
		display: block
		margin: 20px 0

	p
		font-family: $headerFont
		font-weight: 400
		margin: 0
		font-size: 14px

#atreoDescription
	padding: 10px 10px
	font-family: $headerFont
	color: #262626

	h2
		margin: 0
		padding-bottom: 20px
		font-weight: 400
		font-size: 20px
		letter-spacing: 5px

	p
		margin: 0
		line-height: 25px
		font-size: 14px
		max-width: 675px
