body
	margin: 0
	padding: 0

.mobileNav
	position: fixed
	width: 100%

.desktopNav
	position: fixed
	display: none
	width: 100%

@media (min-width: 775px)
	.mobileNav
		display: none

	.desktopNav
		display: flex
		justify-content: space-between
		font-family: $headerFont
		align-items: center

		ul
			text-align: center
			width: 33.3%
			margin: 0
			padding: 0

			li
				list-style: none
				display: inline-block
				text-align: center
				padding: 15px 30px

				a
					text-decoration: none
					color: white
					display: block

		.socialLogos
			width: 33.3%

			img
				padding: 15px 5px
				float: right
				height: 30px
				width: 30px

		.siteLogo
			width: 33.3%
