#home
	display: flex
	align-items: center
	justify-content: center
	flex-direction: column
	height: 100vh

	img
		position: absolute
		object-fit: cover
		width: 100%
		height: 100vh
		z-index: -2

	.homeText
		position: fixed
		text-align: center
		font-size: 2em
		color: white
		z-index: -1

		h1
			font-family: $cursiveFont

		h4
			font-family: $headerFont
			font-size: 0.8em

		a
			text-decoration: none
			color: white
			cursor: pointer

@media (min-width: 775px)
	#home img
		transform: scale(1)
