#portfolio
	display: flex
	align-items: center
	justify-content: center
	background: #eeeeee
	height: 100vh

	span
		height: 100px
		width: 100px
		display: block
		background: pink
		border-radius: 100px
