#work
	background-color: rgba(38, 38, 38, 0.5)
	height: 300px
	z-index: 1

	.workBackgroundImg
		position: absolute
		height: 300px
		z-index: -1
		width: 100%
		object-fit: cover
		transition: 0.8s ease-in-out
		overflow: hidden

	.workText
		height: 300px
		margin-left: 30px
		display: flex
		flex-direction: column
		justify-content: flex-end
		color: white
		font-family: $headerFont

		h2
			margin: 0

		.divider
			width: 50px
			height: 2px
			display: block
			background: rgba(66, 134, 244, 1)
			margin: 20px 0

		p
			margin: 0 0 30px 0

		.buttonFlex
			margin-bottom: 20px

			button
				box-sizing: border-box
				width: 125px
				font-size: 15px
				background-color: inherit
				border: 2px solid white
				color: white
				padding: 15px 15px
				border-radius: 5px
				font-family: $headerFont
				font-weight: 400
				transition: all 0.3s ease-in-out
				cursor: pointer

				&:hover
					color: black
					background: white

			button.live
				margin-left: 10px
				background: rgba(66, 134, 244, 1)
				border: 2px solid rgba(66, 134, 244, 1)

				&:hover
					color: black
					background: white
					border: 2px solid white



@media (min-width: 775px)
	#work
		height: 400px

		.workBackgroundImg
			height: 400px

		.workText
			margin-left: 10%
			height: 400px

			h2
				font-size: 32px

@media (min-width: 1000px)
	#work

		.workText
			margin-left: 15%

			h2
				font-size: 40px

			.buttonFlex
				margin-bottom: 75px

@media (min-width: 1200px)
	#work

		.workText

			h2
				font-size: 45px

			p span
				padding: 20px

			p span.first
				padding: 20px 20px 20px 0

@media (min-width: 1500px)
	#work

		.workText

#contactLink
	margin-top: 50px
	display: flex
	align-items: center
	justify-content: flex-start
	flex-direction: column
	color: white

	.line
		width: 70%
		height: 1px
		background: white
		margin: 0 0 30px 0

	p
		max-width: 700px
		font-family: $headerFont
		font-size: 1.2em
		margin: 20px 50px
		text-align: center

	button
		font-family: $headerFont
		color: white
		cursor: pointer
		box-sizing: border-box
		background-color: inherit
		border: 2px solid white
		border-radius: 5px
		padding: 15px 15px
		margin: 0 0 50px 0
		transition: all 0.3s ease-in-out

		&:hover
			color: black
			background: white

		i
			padding: 0 0 0 5px

footer
	display: flex
	flex-direction: column
	color: white
	font-family: $headerFont
	font-weight: 400
	display: flex
	justify-content: center
	align-items: center
	font-size: 0.8em
