html {
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: black; }

li {
  list-style: none; }

ul {
  margin: 0;
  padding: 0; }

p {
  font-family: "Open Sans", sans-serif;
  margin: 0; }

h1 {
  font-family: "Montserrat", sans-serif;
  margin: 0; }

h2 {
  font-family: "Montserrat", sans-serif;
  margin: 0; }

h3 {
  font-family: "Montserrat", sans-serif;
  margin: 0; }

h4 {
  font-family: "Montserrat", sans-serif;
  margin: 0; }

h5 {
  font-family: "Montserrat", sans-serif;
  margin: 0; }

h6 {
  font-family: "Montserrat", sans-serif;
  margin: 0; }

#desktopNav {
  display: none; }

#desktopNav.onScroll {
  background: white; }

.mobileNav {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 50px;
  background: rgba(255, 255, 255, 0.85);
  position: fixed; }
  .mobileNav .mobileLogo {
    left: 50%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    font-family: "Damion", cursive;
    font-size: 25px;
    color: black;
    height: 50px; }
  .mobileNav #mobileNavBurger {
    height: 50px;
    width: 50px;
    position: absolute;
    right: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 10px 0 0; }
    .mobileNav #mobileNavBurger span,
    .mobileNav #mobileNavBurger span:before,
    .mobileNav #mobileNavBurger span:after {
      content: "";
      display: block;
      background-color: black;
      height: 3px;
      width: 30px;
      position: relative;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .mobileNav #mobileNavBurger span:before {
      top: 10px; }
    .mobileNav #mobileNavBurger span:after {
      top: -13px; }
    .mobileNav #mobileNavBurger.isOpen span {
      background: transparent; }
    .mobileNav #mobileNavBurger.isOpen span:before,
    .mobileNav #mobileNavBurger.isOpen span:after {
      -webkit-transform-origin: center;
              transform-origin: center;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      top: 0; }
    .mobileNav #mobileNavBurger.isOpen span:after {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      top: -3px; }
  .mobileNav #mobileNavSlider {
    position: fixed;
    z-index: 2;
    height: 100%;
    width: 80%;
    background: #262626;
    -webkit-filter: opacity(0.8);
            filter: opacity(0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
    .mobileNav #mobileNavSlider ul {
      padding: 50px 0 0 20px; }
      .mobileNav #mobileNavSlider ul li a {
        display: block;
        padding: 10px 0;
        color: white; }
    .mobileNav #mobileNavSlider .mobileSocialLinks {
      padding: 0 0 20px 20px; }
      .mobileNav #mobileNavSlider .mobileSocialLinks a {
        font-size: 20px;
        padding: 5px 10px;
        color: white; }
        .mobileNav #mobileNavSlider .mobileSocialLinks a i {
          text-align: center;
          width: 20px; }

#mobileNavSlider.isOpen {
  -webkit-transform: translateX(0);
          transform: translateX(0); }

@media (min-width: 775px) {
  .mobileNav {
    display: none; }
  #desktopNav ul .activeMenu a {
    border-bottom: 2px solid white; }
  #desktopNav ul .activeMenu a.onScroll {
    border-bottom: 2px solid black; }
  #desktopNav {
    font-family: "Montserrat", sans-serif;
    position: fixed;
    width: 100%;
    height: 50px;
    display: block; }
    #desktopNav .logo {
      position: absolute;
      cursor: pointer;
      color: white;
      font-family: "Damion", cursive;
      font-size: 40px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      padding-left: 20px; }
      #desktopNav .logo:hover {
        color: #dfa671; }
    #desktopNav .logo.onScroll {
      color: black; }
      #desktopNav .logo.onScroll:hover {
        color: #dfa671; }
    #desktopNav ul {
      position: absolute;
      top: 2.5px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      display: block; }
      #desktopNav ul li {
        display: inline-block; }
        #desktopNav ul li a {
          margin: 15px 30px;
          color: white;
          cursor: pointer;
          display: block;
          padding-bottom: 5px;
          font-size: 13px; }
          #desktopNav ul li a:hover {
            border-bottom: 2px solid white; }
        #desktopNav ul li a.onScroll {
          color: black; }
          #desktopNav ul li a.onScroll:hover {
            border-bottom: 2px solid black; }
    #desktopNav .socialLinks {
      position: absolute;
      right: 0;
      top: 0;
      padding: 15px 20px 20px 20px;
      cursor: pointer; }
      #desktopNav .socialLinks a {
        font-size: 20px;
        padding: 5px 10px;
        color: white;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out; }
        #desktopNav .socialLinks a:hover {
          color: #dfa671; }
        #desktopNav .socialLinks a i {
          text-align: center;
          width: 20px; }
      #desktopNav .socialLinks a.onScroll {
        color: black; }
        #desktopNav .socialLinks a.onScroll:hover {
          color: #dfa671; } }

#homeHero {
  height: 100vh;
  background: -webkit-linear-gradient(rgba(36, 36, 36, 0.4), rgba(36, 36, 36, 0.4)), url(/img/shop.jpg);
  background: linear-gradient(rgba(36, 36, 36, 0.4), rgba(36, 36, 36, 0.4)), url(/img/shop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  #homeHero h1 {
    color: white;
    margin: 0;
    font-size: 60px; }
  #homeHero h4 {
    color: white;
    font-family: "Damion", cursive;
    font-size: 30px; }

.homeFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px 0; }
  .homeFlex span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #f1f1f1;
    height: 200px;
    width: 80%;
    margin: 20px 20px;
    padding: 10px 10px;
    box-sizing: border-box; }
    .homeFlex span h2 {
      margin-bottom: 10px; }
    .homeFlex span a {
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      margin-top: 10px;
      border-bottom: 2px solid black;
      -webkit-transition: 0.3s all ease-in-out;
      transition: 0.3s all ease-in-out; }
      .homeFlex span a:hover {
        color: #dfa671;
        border-bottom: 2px solid #dfa671; }
  .homeFlex img {
    height: 200px;
    width: 80%;
    margin: 20px 20px; }

@media (min-width: 400px) {
  .homeFlex span {
    height: 225px; }
  .homeFlex img {
    height: 225px; } }

@media (min-width: 475px) {
  .homeFlex span {
    height: 250px; }
  .homeFlex img {
    height: 250px; } }

@media (min-width: 550px) {
  .homeFlex span {
    height: 275px; }
  .homeFlex img {
    height: 275px; } }

@media (min-width: 620px) {
  .homeFlex span {
    height: 300px; }
  .homeFlex img {
    height: 300px; } }

@media (min-width: 700px) {
  .homeFlex span {
    height: 325px; }
  .homeFlex img {
    height: 325px; } }

@media (min-width: 775px) {
  .homeFlex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    .homeFlex span {
      width: 40%;
      height: 200px; }
    .homeFlex img {
      width: 40%;
      height: 200px; }
  .homeFlex.reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; } }

@media (min-width: 950px) {
  .homeFlex span {
    height: 250px; }
  .homeFlex img {
    height: 250px; } }

@media (min-width: 1100px) {
  .homeFlex span {
    height: 300px; }
  .homeFlex img {
    height: 300px; } }

@media (min-width: 1250px) {
  .homeFlex span {
    height: 350px; }
  .homeFlex img {
    height: 350px; } }

@media (min-width: 1500px) {
  .homeFlex span {
    width: 600px;
    height: 400px; }
  .homeFlex img {
    width: 600px;
    height: 400px; } }

.parallax {
  background: -webkit-linear-gradient(rgba(36, 36, 36, 0.3), rgba(36, 36, 36, 0.3)), url(/img/machineTwo.jpg);
  background: linear-gradient(rgba(36, 36, 36, 0.3), rgba(36, 36, 36, 0.3)), url(/img/machineTwo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%; }
  .parallax .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 600px;
    width: 100%;
    color: white;
    text-align: center; }
    .parallax .flex p {
      font-family: "Damion", cursive;
      font-size: 20px; }
    .parallax .flex h2 {
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 40px; }

.parallax.second {
  background: -webkit-linear-gradient(rgba(36, 36, 36, 0.3), rgba(36, 36, 36, 0.3)), url(/img/espressoMachine.jpg);
  background: linear-gradient(rgba(36, 36, 36, 0.3), rgba(36, 36, 36, 0.3)), url(/img/espressoMachine.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

@media (min-width: 775px) {
  .parallax {
    background-attachment: fixed; }
  .parallax.second {
    background-attachment: fixed; } }

.siteLinks {
  background: rgba(36, 36, 36, 0.96);
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white; }
  .siteLinks .address, .siteLinks .hours, .siteLinks .footerLinks {
    padding: 0 10px; }
    .siteLinks .address p, .siteLinks .hours p, .siteLinks .footerLinks p {
      font-size: 14px; }

@media (min-width: 800px) {
  .siteLinks .address, .siteLinks .hours, .siteLinks .footerLinks {
    padding: 0 30px;
    -webkit-transform: translateX(-33px);
            transform: translateX(-33px); } }

.menuPageHeader {
  padding-top: 80px; }
  .menuPageHeader .menuTitle {
    font-size: 25px;
    text-align: center; }
  .menuPageHeader .menuPages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin: 25px 0;
    z-index: 2; }
    .menuPageHeader .menuPages h3 {
      cursor: pointer;
      border-bottom: 2px solid #262626;
      margin: 0 10px;
      font-size: 13px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      .menuPageHeader .menuPages h3:hover {
        color: #dfa671;
        border-bottom: 2px solid #dfa671; }

.menuLayout {
  padding: 50px 20px;
  height: 1100px; }
  .menuLayout #breakfastMenu, .menuLayout #lunchMenu, .menuLayout #dinnerMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .menuLayout #breakfastMenu .menuSection, .menuLayout #lunchMenu .menuSection, .menuLayout #dinnerMenu .menuSection {
      padding: 0 10px;
      max-width: 550px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 90%;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .menuLayout #breakfastMenu .menuSection:nth-child(2), .menuLayout #lunchMenu .menuSection:nth-child(2), .menuLayout #dinnerMenu .menuSection:nth-child(2) {
        padding-top: 30px; }
      .menuLayout #breakfastMenu .menuSection h4, .menuLayout #lunchMenu .menuSection h4, .menuLayout #dinnerMenu .menuSection h4 {
        margin-bottom: 10px;
        font-size: 12px; }
      .menuLayout #breakfastMenu .menuSection .inlineTitle, .menuLayout #lunchMenu .menuSection .inlineTitle, .menuLayout #dinnerMenu .menuSection .inlineTitle {
        padding-top: 20px; }
      .menuLayout #breakfastMenu .menuSection .menuItem, .menuLayout #lunchMenu .menuSection .menuItem, .menuLayout #dinnerMenu .menuSection .menuItem {
        font-size: 14px;
        padding: 15px 20px;
        width: 100%;
        max-width: 550px;
        box-sizing: border-box; }
        .menuLayout #breakfastMenu .menuSection .menuItem .menuDescription, .menuLayout #lunchMenu .menuSection .menuItem .menuDescription, .menuLayout #dinnerMenu .menuSection .menuItem .menuDescription {
          font-size: 12px; }
        .menuLayout #breakfastMenu .menuSection .menuItem .leaders, .menuLayout #lunchMenu .menuSection .menuItem .leaders, .menuLayout #dinnerMenu .menuSection .menuItem .leaders {
          background: -webkit-radial-gradient(#262626 1px, white 0px);
          background: radial-gradient(#262626 1px, white 0px);
          background-size: 8px 8px;
          background-repeat: repeat-x;
          background-position: left bottom; }
          .menuLayout #breakfastMenu .menuSection .menuItem .leaders span, .menuLayout #lunchMenu .menuSection .menuItem .leaders span, .menuLayout #dinnerMenu .menuSection .menuItem .leaders span {
            font-family: "Montserrat", sans-serif;
            font-weight: 600;
            height: 18px;
            background: white; }
          .menuLayout #breakfastMenu .menuSection .menuItem .leaders span:nth-child(2), .menuLayout #lunchMenu .menuSection .menuItem .leaders span:nth-child(2), .menuLayout #dinnerMenu .menuSection .menuItem .leaders span:nth-child(2) {
            float: right;
            padding: 0 0 0 5px; }

.menuItem.highlight {
  border: 2px solid #262626; }

#lunchMenu.noShow {
  opacity: 0; }

#dinnerMenu.noShow {
  opacity: 0; }

h3.active {
  color: #dfa671;
  border-bottom: 2px solid #dfa671 !important; }

@media (min-width: 800px) {
  .menuPages {
    -webkit-transform: translateX(-14px);
            transform: translateX(-14px); }
  .menuLayout {
    height: 500px; }
    .menuLayout #breakfastMenu, .menuLayout #lunchMenu, .menuLayout #dinnerMenu {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .menuLayout #breakfastMenu .menuSection:nth-child(2), .menuLayout #lunchMenu .menuSection:nth-child(2), .menuLayout #dinnerMenu .menuSection:nth-child(2) {
        padding-top: 0; }
    .menuLayout .dinnerMenu .menuSection:nth-child(1) {
      margin-bottom: 68px; }
    .menuLayout .lunchMenu .menuSection:nth-child(1) {
      margin-bottom: 68px; }
    .menuLayout .breakfastMenu .menuSection:nth-child(1) {
      margin-bottom: 45px; } }

.contactTitle {
  padding-top: 80px;
  text-align: center; }

.contactFlex {
  padding: 50px 40px 50px 40px; }
  .contactFlex .location {
    padding: 0 0 10px 0; }
    .contactFlex .location .contactLocation {
      margin-bottom: 20px; }
      .contactFlex .location .contactLocation h4 {
        margin-bottom: 10px; }
    .contactFlex .location .contactHours {
      margin-bottom: 20px; }
      .contactFlex .location .contactHours h4 {
        margin-bottom: 10px; }
    .contactFlex .location .contactNumber {
      margin-bottom: 20px; }
      .contactFlex .location .contactNumber h4 {
        margin-bottom: 10px; }
  .contactFlex .contactForm form {
    max-width: 700px;
    margin: 0;
    box-sizing: border-box; }
    .contactFlex .contactForm form input {
      box-sizing: border-box;
      font-family: "Montserrat", sans-serif;
      width: 100%;
      line-height: 16px;
      max-width: 700px;
      border: 3px solid rgba(0, 0, 0, 0.15);
      margin: 0 0 10px 0;
      padding: 10px;
      border-radius: 2px; }
      .contactFlex .contactForm form input:focus {
        outline: none;
        border: 3px solid #262626; }
    .contactFlex .contactForm form textarea {
      font-family: "Montserrat", sans-serif;
      box-sizing: border-box;
      width: 100%;
      resize: none;
      line-height: 16px;
      max-width: 700px;
      border: 3px solid rgba(0, 0, 0, 0.15);
      margin: 0 0 10px 0;
      padding: 10px;
      border-radius: 2px; }
      .contactFlex .contactForm form textarea:focus {
        outline: none;
        border: 3px solid #262626; }
    .contactFlex .contactForm form button {
      font-family: "Montserrat", sans-serif;
      cursor: pointer;
      background-color: inherit;
      box-sizing: border-box;
      border: 3px solid rgba(0, 0, 0, 0.15);
      width: 100px;
      padding: 10px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      float: right;
      border-radius: 2px; }
      .contactFlex .contactForm form button:hover {
        background: #262626;
        color: white; }

#map {
  z-index: -1;
  height: 400px;
  width: 100%; }

@media (min-width: 775px) {
  .contactFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .contactFlex .location {
      height: 346px;
      margin-right: 50px; } }

.siteFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #262626;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0; }
  .siteFooter .backToTop {
    color: white;
    border-bottom: 2px solid white;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 20px; }
  .siteFooter p {
    color: white;
    text-align: center;
    font-size: 14px; }
    .siteFooter p a {
      color: white;
      border: bottom solid 2px white; }
